.containerInput{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    margin: 30px;
    padding: 5px;
}

.containerInput input{
    background-color: transparent;
    color: #FFFF;
    outline: none;
    border: none;
    margin: 8px;
    font-size: 20px;
}

.containerInput input::placeholder{
    color: #FFFF;
}


.buttonSave{
    background-color: transparent;
    outline: none;
    border: none;
    color: #FFFF;
    padding-right: 5px;
    transition: transform 0.5s;
}

.buttonSave:hover{
    transform: scale(1.2);
}